
.editor-one>.container>.editor-container>.monaco-editor>.overflow-guard>.monaco-scrollable-element:nth-child(2){
    /* background: url('images/bg2.png') no-repeat center center fixed; */
    background: url('images/bg1.jpg') no-repeat center center fixed;
    opacity: .9;
    background-size: cover;
}

.editor-two>.container>.editor-container>.monaco-editor>.overflow-guard>.monaco-scrollable-element:nth-child(2){
    background-repeat: no-repeat;
}

.editor-three>.container>.editor-container>.monaco-editor>.overflow-guard>.monaco-scrollable-element:nth-child(2){
    background-repeat: no-repeat;
}

[id='workbench.parts.editor']>.content>.one-editor-silo .monaco-editor>.overflow-guard>.monaco-scrollable-element>.monaco-editor-background {
    background: none;
}