
[id='workbench.parts.editor']>.content>.one-editor-silo .monaco-editor>.overflow-guard>.monaco-scrollable-element>.monaco-editor-background {
    background: none;
}

.editor-two>.container>.editor-container>.monaco-editor>.overflow-guard>.monaco-scrollable-element:nth-child(2),
.editor-three>.container>.editor-container>.monaco-editor>.overflow-guard>.monaco-scrollable-element:nth-child(2),
.editor-one>.container>.editor-container>.monaco-editor>.overflow-guard>.monaco-scrollable-element:nth-child(2),
.margin-view-overlays,
.part.titlebar,
.composite.title,
.split-view-view,
.title.tabs.show-file-icons.active,
.tab.close-button-right.sizing-fit.has-icon-theme,
.tab.close-button-right.sizing-fit.has-icon-theme.active,
.part.statusbar,
.monaco-tree-rows,
.monaco-workbench>.activitybar>.content ,
.wrapper > .input,
.search-widgets-container,
.monaco-tree-rows.show-twisties,
.decorationsOverviewRuler,
.original.diffOverviewRuler,
.modified.diffOverviewRuler,
.header,
.search-box {
    background: url('images/bg1.jpg') no-repeat center center fixed;
    opacity: .9;
    background-size: cover;
}
